<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Buscar Exame</title>
    <link rel="stylesheet" href="style\buscar_exame.css">
</head>
<body>
    <h2>Buscar Exame</h2>
    <form method="post">
        Nome do paciente: <input type="text" name="nome_paciente">
        <input type="submit" value="Buscar">
    </form>

    {% if resultados %}
        <h3>Exames encontrados:</h3>
        <ul>
            {% for exame in resultados %}
                <li>ID: {{ exame[0] }}, Nome: {{ exame[1] }}, Data: {{ exame[2] }}, Unidade: {{ exame[3] }}, Accession: {{ exame[4] }}, Status: {{ exame[5] }}</li>
            {% endfor %}
        </ul>
    {% elif nome_paciente %}
        <p>Nenhum exame encontrado para "{{ nome_paciente }}"</p>
    {% endif %}
</body>
</html>
